.main-content {
  margin-top:5%;
}

.left-menu {

}

.left-menu ul {
  list-style: none;
  background-color: gray;
  padding:0;
  margin-left: 2%;
}

.search-text {
  width: 15%;
  margin:0;
}

.floating-search {
  display: inline-block;
  width: 70%;
  margin:0;
}

@media  (max-width: 768px){
  .left-menue {
    display: none;
  }
}
