.main-content {
  margin-top: 7%;
  margin-bottom: 7%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2%;
}

.left-menu {

}

.left-menu ul {
  list-style: none;
  background-color: gray;
  padding:0;
  margin-left: 2%;
}

.search-text {
  width: 15%;
  margin:0;
}

.floating-search {
  display: inline-block;
  width: 70%;
  margin:0;
}

.hidden-author-field{
  display: none;
}

@media  (max-width: 768px){
  .left-menue {
    display: none;
  }

  .main-content{
    margin-top: 20%;
  }
}
